<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link th:href="@{/css/mystyles.css}" rel="stylesheet" />
  </head>
  <body>
    <main class="container">
      <section class="row m-1" >
        <article class="col" sec:authorize="hasRole('ADMIN')">
          <p class="text-center" th:text="${info}"></p>
        </article>

        <h2>Welcome</h2>
        <p>Spring Security Thymeleaf tutorial</p>
        <div sec:authorize="hasRole('USER')">Text visible to user.</div>
        <div sec:authorize="hasRole('ADMIN')">Text visible to admin.</div>
        <div sec:authorize="isAuthenticated()">
          Text visible only to authenticated users.
          First Name
          <div th:text="${theStudent.name}"></div>
          Authenticated username:
          <div sec:authentication="name"></div>
          Authenticated user roles:
          <div sec:authentication="principal.authorities"></div>
        </div>
        <article class="row">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">name</th>
                <th scope="col">Email</th>
                <th scope="col">Course</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="stu: ${allStu}">
                <th scope="row" th:text="${stu.id}"></th>
                <td th:text="${stu.name}"></td>
                <td th:text="${stu.email}"></td>
                <td th:text="${stu.courses}"></td>
              </tr>
            </tbody>
          </table>
        </article>
      </section>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script th:src="@{/javascript/scripts.js}"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.3/axios.min.js"
      integrity="sha512-wS6VWtjvRcylhyoArkahZUkzZFeKB7ch/MHukprGSh1XIidNvHG1rxPhyFnL73M0FC1YXPIXLRDAoOyRJNni/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      async function doGetRequest() {
        let res = await axios.get("http://localhost:8080/api/getAllStudents");

        let data = res.data;
        console.log(data);
      }

      doGetRequest();
    </script>
  </body>
</html>
