<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link th:href="@{/css/mystyles.css}" rel="stylesheet" />
  </head>
  <body>
    <main class="container">
      <section class="row m-1">
        <article class="col">
          <p class="text-center" th:text="${info}"></p>
        </article>
      </section>
      <section class="row">
        <article class="col">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Courses</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="s: ${allStudents}">
                <th scope="row" th:text="${s.id}"></th>
                <td th:text="${s.name}"></td>
                <td th:text="${s.email}"></td>
                <td>
                  <span th:each="c: ${s.courses}">
                    <span th:text="' | ' + ${c.name} + ' | '"></span>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </article>
      </section>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script th:src="@{/javascript/scripts.js}"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.3/axios.min.js"
      integrity="sha512-wS6VWtjvRcylhyoArkahZUkzZFeKB7ch/MHukprGSh1XIidNvHG1rxPhyFnL73M0FC1YXPIXLRDAoOyRJNni/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script>
      //   fetch("http://localhost:8080/getAllStudents")
      //     .then((response) => response.json())
      //     .then((data) => console.log(data)) // output will be the required data
      //     .catch((error) => console.log(error));
      var d;
      axios
        .get("http://localhost:8080/getAllStudents")
        .then((response) => {
          console.log(response);
        }) //output will be the required data
        .catch((error) => console.log(error));

      async function doGetRequest() {
        let res = await axios.get("http://localhost:8080/getAllStudents");

        let data = res.data;
        console.log(data[0]);
      }

      doGetRequest();
    </script>
  </body>
</html>
